body{
    background-color: #410;
}

a{
    color: #999;
}
a:hover{
    color: #555;
}

h1{
    font-size: 3.5em;
}

#left-col {
    min-height: 100vh;

    padding: 25px;
    padding-top: 50px;

    background-color: #050;
    color: #fff;

    text-align: center;
    font-family: 'Shrikhand', cursive;    
}

#right-col{
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: #410;
    color: #fff;

    font-family: 'Arial', sans-serif;
}
@media screen and (min-width: 980px) {
#right-col{ 
    min-height: 100vh;
    padding-top: 50px;

    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: black;
}}

#tomato-img > img{
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 989px){
#timer-column{
    padding-top: 50px;
}}
@media screen and (min-width: 725px) and (max-width: 989px){
#timer-column{
    padding-top: 0px;
}}
@media screen and (min-width: 475px) and (max-width: 724px){
#timer-column{
    padding-top: 50px;
}}
@media screen and (max-width: 474px){
#timer-column{
    padding-top: 80px;
}}


#timer{
    width: 100%;
    height: 100%;
}

#bottom-buttons{
    padding-top: 15px;
}

#yt-vid{
    padding-top: 25px;
}

#yt-vid > iframe{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
@media screen and (min-width: 600px){
#yt-vid > iframe{
    width: 400px;
    height: 225px;
}}
@media screen and (max-width: 329px){
#yt-vid > iframe{
    width: 100%;
}}


.dial-col{
    padding-top: 40px;
    padding-bottom: 40px;
}

.dial-btn:hover{
    cursor: pointer;
    color: #aaa;
}
.dial-btn:active{
    color: #888;
    box-shadow: none;
}
.dial-btn:active > i{
    text-shadow: 0 0 15px black;
}

.btn-default{
    width: 90%;

    border-radius: 15px;

    text-align: center;
}
.btn-default:hover{
    background-color: #aaa;
}

.center{
    text-align: center!important;
    margin: 0 auto;
}

/* Grid spacing */
.col-xs-3{width: 25%;}
.col-xs-4{width: 33.33333%;}
.col-xs-6{width: 50%;}
.col-xs-8{width: 66.66667%;}
