h1{
    font-size: 3.5em;
}

#left-col {
    padding: 25px;
    padding-top: 50px;

    background-color: #050;
    color: #fff;

    text-align: center;
    font-family: 'Shrikhand', cursive;    
} @media screen and (min-width: 980px) {
#left-col{ 
    min-height: 100vh;
}}

#right-col{
    background-color: #fff
}

#tomato-img > img{
    width: 200px;
    height: 200px;
}

#timer-column{
    padding-top: 25px;
}

#timer{
    width: 100%;
    height: 100%;
}

#bottom-buttons{
    padding-top: 30px;
}

.dial-col{
    padding-top: 40px;
    padding-bottom: 40px;
}

.dial-btn:hover{
    cursor: pointer;
    color: #aaa;
}

.btn-default{
    width: 90%;

    border-radius: 15px;

    text-align: center;
}
.btn-default:hover{
    background-color: #aaa;
}


.center{
    text-align: center!important;
    margin: 0 auto;
}

/* Grid spacing */
.col-xs-3{width: 25%;}
.col-xs-4{width: 33.33333%;}
.col-xs-6{width: 50%;}
.col-xs-8{width: 66.66667%;}
